body {
  background-color: #fdfbf7;
  background-image: radial-gradient(#e0e0e0 1px, transparent 1px);
  background-size: 20px 20px;
  overscroll-behavior-y: none;
  padding-bottom: 100px;
}
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }

/* Smooth scrolling for tabs */
.snap-x { scroll-snap-type: x mandatory; }
.snap-center { scroll-snap-align: center; }
